# Data Cleaning & Integrity Check for LinkedIn Job Postings (2023) Across 4 Datasets

### In this Jupyter notebook, we delve into the 'LinkedIn Job Postings - 2023', which is composed of 4 distinct datasets. Our mission is to clean and refine each of these datasets, removing any inconsistencies and ensuring their integrity and accuracy. Through meticulous examination and transformation, we aim to amalgamate these datasets into a cohesive and pristine set, primed for subsequent analysis and insights.

In [51]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [52]:
# Setting Path
path= r'/Users/pierremora/Desktop/LinkedIn Job Postings 2023'

### Importing the first and main database (job_postings)

In [53]:
job_postings = pd.read_csv(r'/Users/pierremora/Desktop/LinkedIn Job Postings 2023/DATA/RAW DATA/job_postings.csv', index_col = False)

### Descriptive Analysis

In [54]:
job_postings.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,1708301126000,NaN,NaN,NaN,1692749193000,NaN,1,FULL_TIME,USD,BASE_SALARY
1,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",...,1695426553000,NaN,NaN,NaN,1692834553000,NaN,0,FULL_TIME,NaN,NaN
2,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,NaN,Contract,"New York, NY",...,1695321872000,NaN,NaN,NaN,1692729872000,NaN,0,CONTRACT,NaN,NaN
3,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,NaN,Full-time,"Forney, TX",...,1695424007000,NaN,NaN,NaN,1692832007000,NaN,0,FULL_TIME,NaN,NaN
4,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,1708419602000,NaN,NaN,NaN,1692867714000,NaN,1,FULL_TIME,NaN,NaN

### Checking missing values

In [55]:
# counting missing values
missing_values = job_postings.isnull().sum()

In [56]:
# Calculating the percentage of missing values
missing_percentage = (missing_values / len(job_postings)) * 100

In [57]:
# Combining  the results and sort by percentage:
missing_data = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Percentage', ascending=False)

In [58]:
# checking results
print(missing_data[missing_data['Missing Values'] > 0])

                            Missing Values  Percentage
skills_desc                          15742   99.093541
closed_time                          14958   94.158378
med_salary                           14905   93.824751
remote_allowed                       13546   85.270049
max_salary                           10365   65.246129
min_salary                           10365   65.246129
compensation_type                     9384   59.070880
currency                              9384   59.070880
pay_period                            9384   59.070880
applies                               7186   45.234798
posting_domain                        6842   43.069369
application_url                       6091   38.341936
formatted_experience_level            4902   30.857359
views                                 2763   17.392673
company_id                             366    2.303915
description                              1    0.006295

### Dropping Columns with high percentage of missing values (cannot do imputation)

In [59]:
job_postings.drop(columns=['skills_desc', 'closed_time', 'med_salary'], inplace=True)

### Checking Data types to make decision about imputation in the remote_allowed column

In [60]:
job_postings.dtypes

job_id                          int64
company_id                    float64
title                          object
description                    object
max_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time            int64
remote_allowed                float64
views                         float64
job_posting_url                object
application_url                object
application_type               object
expiry                          int64
formatted_experience_level     object
listed_time                     int64
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
dtype: object

### Changing remote_allowed data type to string to fill missing values as 'not specified'

In [61]:
# filling missing values
job_postings['remote_allowed'].fillna('not_specified', inplace=True)

#Replacing  Numeric Values with String Representations
job_postings['remote_allowed'] = job_postings['remote_allowed'].replace({1.0: 'allowed', 0.0: 'not_allowed'})

print(job_postings['remote_allowed'].value_counts())

remote_allowed
not_specified    13546
allowed           2340
Name: count, dtype: int64

### Eliminating unnecessary columns  for analysis

In [62]:
#dropping columns
job_postings.drop(columns=['job_posting_url','application_url','posting_domain'], inplace=True)

In [21]:
#checking actual columns 
job_postings.dtypes

job_id                          int64
company_id                    float64
title                          object
description                    object
max_salary                    float64
min_salary                    float64
pay_period                     object
formatted_work_type            object
location                       object
applies                       float64
original_listed_time            int64
remote_allowed                 object
views                         float64
application_type               object
expiry                          int64
formatted_experience_level     object
listed_time                     int64
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
dtype: object

In [63]:
job_postings.head(5)

,job_id,company_id,title,description,max_salary,min_salary,pay_period,formatted_work_type,location,applies,...,remote_allowed,views,application_type,expiry,formatted_experience_level,listed_time,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,45760.0,YEARLY,Full-time,"Chico, CA",NaN,...,not_specified,5.0,ComplexOnsiteApply,1708301126000,NaN,1692749193000,1,FULL_TIME,USD,BASE_SALARY
1,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,...,not_specified,NaN,ComplexOnsiteApply,1695426553000,NaN,1692834553000,0,FULL_TIME,NaN,NaN
2,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,Contract,"New York, NY",1.0,...,not_specified,17.0,ComplexOnsiteApply,1695321872000,NaN,1692729872000,0,CONTRACT,NaN,NaN
3,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,Full-time,"Forney, TX",NaN,...,not_specified,NaN,ComplexOnsiteApply,1695424007000,NaN,1692832007000,0,FULL_TIME,NaN,NaN
4,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,Full-time,"New York, NY",NaN,...,not_specified,2.0,ComplexOnsiteApply,1708419602000,NaN,1692867714000,1,FULL_TIME,NaN,NaN

### Checking for fully duplicates

In [64]:
# Identifying fully duplicated rows
full_duplicates = job_postings[job_postings.duplicated()]

# Counting the number of fully duplicated rows
num_full_duplicates = len(full_duplicates)
print(f"Number of fully duplicated rows: {num_full_duplicates}")

Number of fully duplicated rows: 0

In [65]:
## checking for duplicates in KEY columns
key_columns = ['title', 'description', 'company_id']
duplicates_by_key = job_postings[job_postings.duplicated(subset=key_columns)]

# Counting the number of duplicates based on key columns
num_key_duplicates = len(duplicates_by_key)
print(f"Number of duplicates based on key columns: {num_key_duplicates}")

Number of duplicates based on key columns: 1789

In [66]:
### Analysis on duplicates based on key columns
print(duplicates_by_key.head(10))

         job_id  company_id  \
16   2148434019      1016.0
28   2148434726     13074.0
254  3690888827     11753.0
301  3692361910      3671.0
302  3692361914      3671.0
304  3692362852      3671.0
305  3692362854      3671.0
309  3692363702      3671.0
310  3692363706      3671.0
311  3692363707      3671.0

                                                 title  \
16   Virtual Sales Associate Account Manager, Women...
28                          Mental Health Professional
254                                   Personal Trainer
301            Block Advisor - Remote Tax Professional
302            Block Advisor - Remote Tax Professional
304            Block Advisor - Remote Tax Professional
305            Block Advisor - Remote Tax Professional
309            Block Advisor - Remote Tax Professional
310            Block Advisor - Remote Tax Professional
311            Block Advisor - Remote Tax Professional

                                           description  max_salary  \
16   Job Description Summary \n\nAs the Virtual Sal...         NaN
28   You Belong Here.\nAt MultiCare, we strive to o...     79541.0
254  Brief Description\n\nNew York Sports Club and ...         NaN
301  What You'll Bring To The Team...\nConduct tax ...         NaN
302  What You'll Bring To The Team...\nConduct tax ...         NaN
304  What You'll Bring To The Team...\nConduct tax ...         NaN
305  What You'll Bring To The Team...\nConduct tax ...         NaN
309  What You'll Bring To The Team...\nConduct tax ...         NaN
310  What You'll Bring To The Team...\nConduct tax ...         NaN
311  What You'll Bring To The Team...\nConduct tax ...         NaN

     min_salary pay_period formatted_work_type  \
16          NaN        NaN           Full-time
28      55280.0     YEARLY           Full-time
254         NaN        NaN           Full-time
301         NaN        NaN           Full-time
302         NaN        NaN           Full-time
304         NaN        NaN           Full-time
305         NaN        NaN           Full-time
309         NaN        NaN           Full-time
310         NaN        NaN           Full-time
311         NaN        NaN           Full-time

                              location  applies  ...  remote_allowed views  \
16          Connecticut, United States      NaN  ...         allowed   NaN
28                         Spokane, WA      NaN  ...   not_specified   NaN
254                       New York, NY      3.0  ...   not_specified  61.0
301                     Plainsboro, NJ      NaN  ...         allowed   NaN
302                       Woodbury, MN      NaN  ...         allowed   NaN
304                       Lakewood, NJ      NaN  ...         allowed   NaN
305                     St Charles, MO      NaN  ...         allowed   NaN
309                   Lake Charles, LA      NaN  ...         allowed   NaN
310  St Louis, Missouri, United States      NaN  ...         allowed   NaN
311                    Lutherville, MD      NaN  ...         allowed   NaN

     application_type         expiry  formatted_experience_level  \
16       OffsiteApply  1695444807000                 Entry level
28       OffsiteApply  1695447607000                 Entry level
254      OffsiteApply  1694390400000            Mid-Senior level
301      OffsiteApply  1695275046000            Mid-Senior level
302      OffsiteApply  1695275046000            Mid-Senior level
304      OffsiteApply  1695275046000            Mid-Senior level
305      OffsiteApply  1695275046000            Mid-Senior level
309      OffsiteApply  1695275046000            Mid-Senior level
310      OffsiteApply  1695275046000            Mid-Senior level
311      OffsiteApply  1695275046000            Mid-Senior level

       listed_time  sponsored  work_type currency compensation_type
16   1692852807000          0  FULL_TIME      NaN               NaN
28   1692855607000          0  FULL_TIME      USD       BASE_SALARY
254  1691759480000          1  FULL_TIME      NaN               NaN
301  1692683046000          0  FULL_TIME      NaN               NaN
302  1692683046000          0  FULL_TIME      NaN               NaN
304  1692683046000          0  FULL_TIME      NaN               NaN
305  1692683046000          0  FULL_TIME      NaN               NaN
309  1692683046000          0  FULL_TIME      NaN               NaN
310  1692683046000          0  FULL_TIME      NaN               NaN
311  1692683046000          0  FULL_TIME      NaN               NaN

[10 rows x 21 columns]

### After analysing the duplicated based on key columns, there is evidence that the job posts are different because each offer is for different city in the United States

## Data Type checking

### Some columns data type is 'float64', to avoid floating numbers, it will be changed to 'Int64', keeping the missing values (NaN)

In [67]:
# List of columns to convert to Int64
columns_to_convert_to_Int64 = ['applies', 'company_id', 'views', 'max_salary', 'min_salary']

# Convert specified columns to Int64 using pd.Series
for col in columns_to_convert_to_Int64:
    job_postings[col] = pd.Series(job_postings[col], dtype="Int64")

# Checking the data types of the specified columns to confirm the conversion
print(job_postings[columns_to_convert_to_Int64].dtypes)

applies         Int64
company_id      Int64
views           Int64
max_salary    float64
min_salary    float64
dtype: object

### Data Accuracy

Checking data accuracy for numerical columns involves ensuring that the values in these columns make logical sense and are within expected ranges.

In [68]:
#checking negative values

incorrect_salaries = job_postings[job_postings['company_id'] < 0]

print(incorrect_salaries)

Empty DataFrame
Columns: [job_id, company_id, title, description, max_salary, min_salary, pay_period, formatted_work_type, location, applies, original_listed_time, remote_allowed, views, application_type, expiry, formatted_experience_level, listed_time, sponsored, work_type, currency, compensation_type]
Index: []

[0 rows x 21 columns]

In [69]:
#checking negative salaries
incorrect_salaries_max = job_postings[job_postings['max_salary'] < 0]

print(incorrect_salaries)

Empty DataFrame
Columns: [job_id, company_id, title, description, max_salary, min_salary, pay_period, formatted_work_type, location, applies, original_listed_time, remote_allowed, views, application_type, expiry, formatted_experience_level, listed_time, sponsored, work_type, currency, compensation_type]
Index: []

[0 rows x 21 columns]

No negative Values found

### Data Integrity & Consistency
Ensure relationships between columns are maintained.

In [70]:

# Counting the number of job applications based on each location
location_counts = job_postings['location'].value_counts()

print(location_counts)

location
United States     1133
New York, NY       398
Chicago, IL        267
Houston, TX        243
Atlanta, GA        207
                  ...
Visalia, CA          1
Page, AZ             1
Blacksburg, VA       1
Windsor, WI          1
Vicksburg, MS        1
Name: count, Length: 3010, dtype: int64

In [71]:
# Counting the number of commas in each entry of the 'location' column
location_format_counts = job_postings['location'].str.count(',').value_counts()

print(location_format_counts)

location
1    13939
0     1891
2       56
Name: count, dtype: int64

13,939 entries have one comma, suggesting a "City, Country/State" format.

1,891 entries don't have any commas, which likely indicates just a country or a standalone city name.

56 entries have two commas, suggesting a more detailed format like "City, State, Country" or variations.

In [72]:
# Extract 20 examples of entries without a comma
additional_no_comma_examples = job_postings[job_postings['location'].str.count(',') == 0]['location'].sample(20)

print(additional_no_comma_examples)

6370                             United States
4270                             United States
6344          Salt Lake City Metropolitan Area
14758                 Greater Hattiesburg Area
843                Dallas-Fort Worth Metroplex
4111                             United States
7437          Salt Lake City Metropolitan Area
15100          New York City Metropolitan Area
4323         Greater Minneapolis-St. Paul Area
6243                             United States
891                              United States
6440     Harrisonburg-Staunton-Waynesboro Area
109                              United States
4257                    San Francisco Bay Area
8529                             United States
1808                             United States
1860                             United States
13143                     Greater Chicago Area
7630                 Greater Pittsburgh Region
5634              Washington DC-Baltimore Area
Name: location, dtype: object

These entries consist of country names, broader metropolitan areas, specific regions, and some potentially ambiguous entries like "NAMER".

In [73]:
# Dropping rows where the location column doesn't contain commas
job_postings = job_postings[job_postings['location'].str.count(',') > 0]

In [74]:
# Check the unique counts of commas in the location column
remaining_comma_counts = job_postings['location'].str.count(',').value_counts()

print(remaining_comma_counts)

location
1    13939
2       56
Name: count, dtype: int64

In [76]:
# Dropping rows where the location column doesn't contain commas
job_postings = job_postings[job_postings['location'].str.count(',') == 1]

In [77]:
# Check the unique counts of commas in the location column
remaining_comma_counts = job_postings['location'].str.count(',').value_counts()

print(remaining_comma_counts)

location
1    13939
Name: count, dtype: int64

### After dropping rows where the location column doesn't contain commas, the dataset now has 13,939 entries. This ensures that the remaining entries have a consistent "City, Country/State" format or variations of it, which will improve the consistency of the location data.

In [78]:
# Split the location column to separate city from state/country
job_postings['city'] = job_postings['location'].str.split(', ').str[0]
job_postings['state_or_country'] = job_postings['location'].str.split(', ').str[1]

### This code uses the str.split() method to split the location column at the comma, and then assigns the resulting parts to the respective new columns

In [79]:
#checking results
job_postings.head(2)

,job_id,company_id,title,description,max_salary,min_salary,pay_period,formatted_work_type,location,applies,...,application_type,expiry,formatted_experience_level,listed_time,sponsored,work_type,currency,compensation_type,city,state_or_country
0,85008768,<NA>,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,45760.0,YEARLY,Full-time,"Chico, CA",<NA>,...,ComplexOnsiteApply,1708301126000,NaN,1692749193000,1,FULL_TIME,USD,BASE_SALARY,Chico,CA
1,133114754,77766802,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",<NA>,...,ComplexOnsiteApply,1695426553000,NaN,1692834553000,0,FULL_TIME,NaN,NaN,Santa Clarita,CA

In [80]:
# Renaming the columns
job_postings = job_postings.rename(columns={
    'city': 'job_location_city',
    'state_or_country': 'job_location_state'
})

In [81]:
# dropping location column
job_postings = job_postings.drop(columns=['location'])

In [82]:
#creating a dictionary of US states to replace abbreviations to full state names
# Dictionary mapping state abbreviations to full names
state_abbreviations = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming',
    'DC': 'District of Columbia', 'PR': 'Puerto Rico'
}

# Replacing state abbreviations with full names
job_postings['job_location_state'] = job_postings['job_location_state'].map(state_abbreviations).fillna(job_postings['job_location_state'])

### This code will replace the state abbreviations in the job_location_state column with their full names. If an abbreviation isn't found in the dictionary, the original value will remain unchanged.

In [84]:
# counting states
state_counts = job_postings['job_location_state'].value_counts()

for state, count in state_counts.items():
    print(f"{state}: {count}")

California: 1825
Texas: 1305
New York: 783
Florida: 757
United States: 661
Illinois: 565
Georgia: 452
North Carolina: 449
Pennsylvania: 441
Massachusetts: 438
Virginia: 436
Washington: 408
Ohio: 397
New Jersey: 386
Michigan: 329
Arizona: 311
Maryland: 310
Colorado: 287
Minnesota: 286
Tennessee: 259
South Carolina: 233
Wisconsin: 230
Missouri: 210
Indiana: 186
Connecticut: 145
Utah: 141
Oregon: 127
Nevada: 124
Oklahoma: 111
Iowa: 110
District of Columbia: 109
Kansas: 98
Louisiana: 97
Alabama: 95
Kentucky: 92
Idaho: 68
Arkansas: 66
Delaware: 56
Nebraska: 54
New Mexico: 49
Mississippi: 45
Texas Metropolitan Area: 44
Rhode Island: 40
New Hampshire: 35
West Virginia: 34
Hawaii: 33
Alaska: 31
North Dakota: 29
South Dakota: 20
Montana: 20
Oregon Metropolitan Area: 18
Wyoming: 18
Maine: 15
Ohio Metropolitan Area: 15
Vermont: 13
New York Metropolitan Area: 10
South Carolina Metropolitan Area: 8
South Carolina Area: 3
Wisconsin Metropolitan Area: 3
Indiana Metropolitan Area: 3
AZ Area: 3
Alabama Area: 3
Kansas Metropolitan Area: 2
Massachusetts Metropolitan Area: 2
Nebraska Metropolitan Area: 1
AR Area: 1
Minnesota Area: 1
Missouri Area: 1
Illinois Area: 1
Maine Metropolitan Area: 1

In [85]:
# Filter rows to keep only those with states found in the state_abbreviations dictionary
job_postings = job_postings[job_postings['job_location_state'].isin(state_abbreviations.values())]

By applying this filter, the dataset will only include rows where the job_location_state column contains recognized U.S. state names.

In [86]:
# recheck 
# counting states
state_counts = job_postings['job_location_state'].value_counts()

for state, count in state_counts.items():
    print(f"{state}: {count}")

California: 1825
Texas: 1305
New York: 783
Florida: 757
Illinois: 565
Georgia: 452
North Carolina: 449
Pennsylvania: 441
Massachusetts: 438
Virginia: 436
Washington: 408
Ohio: 397
New Jersey: 386
Michigan: 329
Arizona: 311
Maryland: 310
Colorado: 287
Minnesota: 286
Tennessee: 259
South Carolina: 233
Wisconsin: 230
Missouri: 210
Indiana: 186
Connecticut: 145
Utah: 141
Oregon: 127
Nevada: 124
Oklahoma: 111
Iowa: 110
District of Columbia: 109
Kansas: 98
Louisiana: 97
Alabama: 95
Kentucky: 92
Idaho: 68
Arkansas: 66
Delaware: 56
Nebraska: 54
New Mexico: 49
Mississippi: 45
Rhode Island: 40
New Hampshire: 35
West Virginia: 34
Hawaii: 33
Alaska: 31
North Dakota: 29
Montana: 20
South Dakota: 20
Wyoming: 18
Maine: 15
Vermont: 13

In [88]:
city_counts = job_postings['job_location_city'].value_counts()
print(city_counts)

job_location_city
New York              398
Chicago               267
Houston               243
Atlanta               207
Los Angeles           188
                     ...
Bloomington–Normal      1
Screven                 1
Charles City            1
Williamson County       1
Vicksburg               1
Name: count, Length: 2443, dtype: int64

In [93]:
# exporting dataframe to pickle
# Export data to pkl

job_postings.to_csv(os.path.join(path, 'DATA','CLEAN DATA', 'job_postings_clean.csv'))

Creating a data profile table

In [94]:

# Define the profiling data
data = {
    'Variables': ['job_id', 'company_id', 'title', 'description', 'max_salary', 'min_salary', 'pay_period', 'formatted_work_type', 'job_location_city', 
                  'applies', 'original_listed_time', 'remote_allowed', 'views', 'application_type', 'formatted_experience_level', 'listed_time', 
                  'sponsored', 'work_type', 'currency', 'compensation_type', 'job_location_city', 'job_location_state'],
    'Description': ['unique id for job', 'unique id for company', 'Job title', 'Job description', 'Maximum salary', 'Minimum salary', 'Pay period for salary',
                    'Type of work', 'location of job offer', 'Number of applications submitted', 'Original time the job was listed', 'Whether job permits remote work',
                    'Number of times the job posting viewed', 'Type of application process', 'Job experience level', 'Time when the job was listed', 
                    'Whether the job listing is sponsored', 'Type of work associated with the job', 'Currency of the salary', 'Type of compensation for the job', 
                    'location of job offer', 'state of the job offer'],
    'Data Types': ['int64', 'float64', 'object', 'object', 'float64', 'float64', 'object', 'object', 'object', 
                   'float64', 'int64', 'object', 'float64', 'object', 'object', 'int64', 
                   'int64', 'object', 'object', 'object', 'object', 'object'],
    'Time-variant/-invariant': ['Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant',
                                'Variant', 'Invariant', 'Invariant', 'Variant', 'Invariant', 'Invariant', 'Invariant',
                                'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant', 'Invariant'],
    'Structured/Unstructured': ['Structured', 'Structured', 'Structured', 'Unstructured', 'Structured', 'Structured', 'Structured', 'Structured', 'Structured',
                                'Structured', 'Structured', 'Structured', 'Structured', 'Structured', 'Structured', 'Structured',
                                'Structured', 'Structured', 'Structured', 'Structured', 'Structured', 'Structured'],
    'Qualitative/Quantitative': ['Quantitative', 'Quantitative', 'Qualitative', 'Qualitative', 'Quantitative', 'Quantitative', 'Qualitative', 'Qualitative', 'Qualitative',
                                 'Quantitative', 'Quantitative', 'Qualitative', 'Quantitative', 'Qualitative', 'Qualitative', 'Quantitative',
                                 'Quantitative', 'Qualitative', 'Qualitative', 'Qualitative', 'Qualitative', 'Qualitative'],
    'Qualitative: Nominal/Ordinal': ['-', '-', 'Nominal', 'Nominal', '-', '-', 'Nominal', 'Nominal', 'Nominal',
                                     '-', '-', 'Nominal', '-', 'Nominal', 'Ordinal', '-',
                                     '-', 'Nominal', 'Nominal', 'Nominal', 'Nominal', 'Nominal'],
    'Quantitative: Discrete/Continuous': ['Discrete', 'Discrete', '-', '-', 'Continuous', 'Continuous', '-', '-', '-',
                                          'Discrete', 'Discrete', '-', 'Discrete', '-', '-', 'Discrete',
                                          'Discrete', '-', '-', '-', '-', '-']
}

# Create DataFrame
job_postings_profiling = pd.DataFrame(data)

job_postings_profiling

,Variables,Description,Data Types,Time-variant/-invariant,Structured/Unstructured,Qualitative/Quantitative,Qualitative: Nominal/Ordinal,Quantitative: Discrete/Continuous
0,job_id,unique id for job,int64,Invariant,Structured,Quantitative,-,Discrete
1,company_id,unique id for company,float64,Invariant,Structured,Quantitative,-,Discrete
2,title,Job title,object,Invariant,Structured,Qualitative,Nominal,-
3,description,Job description,object,Invariant,Unstructured,Qualitative,Nominal,-
4,max_salary,Maximum salary,float64,Invariant,Structured,Quantitative,-,Continuous
5,min_salary,Minimum salary,float64,Invariant,Structured,Quantitative,-,Continuous
6,pay_period,Pay period for salary,object,Invariant,Structured,Qualitative,Nominal,-
7,formatted_work_type,Type of work,object,Invariant,Structured,Qualitative,Nominal,-
8,job_location_city,location of job offer,object,Invariant,Structured,Qualitative,Nominal,-
9,applies,Number of applications submitted,float64,Variant,Structured,Quantitative,-,Discrete
10,original_listed_time,Original time the job was listed,int64,Invariant,Structured,Quantitative,-,Discrete
11,remote_allowed,Whether job permits remote work,object,Invariant,Structured,Qualitative,Nominal,-
12,views,Number of times the job posting viewed,float64,Variant,Structured,Quantitative,-,Discrete
13,application_type,Type of application process,object,Invariant,Structured,Qualitative,Nominal,-
14,formatted_experience_level,Job experience level,object,Invariant,Structured,Qualitative,Ordinal,-
15,listed_time,Time when the job was listed,int64,Invariant,Structured,Quantitative,-,Discrete
16,sponsored,Whether the job listing is sponsored,int64,Invariant,Structured,Quantitative,-,Discrete
17,work_type,Type of work associated with the job,object,Invariant,Structured,Qualitative,Nominal,-
18,currency,Currency of the salary,object,Invariant,Structured,Qualitative,Nominal,-
19,compensation_type,Type of compensation for the job,object,Invariant,Structured,Qualitative,Nominal,-
20,job_location_city,location of job offer,object,Invariant,Structured,Qualitative,Nominal,-
21,job_location_state,state of the job offer,object,Invariant,Structured,Qualitative,Nominal,-

In [95]:
# exporting dataframe to cvs


job_postings_profiling.to_csv(os.path.join(path, 'DATA','Data profile', 'job_postings_data_profile.csv'))

In [97]:
job_postings.describe()

,job_id,company_id,max_salary,min_salary,applies,original_listed_time,views,expiry,listed_time,sponsored
count,1.315800e+04,12880.0,4469.000000,4469.000000,6833.0,1.315800e+04,10636.0,1.315800e+04,1.315800e+04,13158.000000
mean,3.691411e+09,9450037.235637,83540.027984,59017.067548,15.370408,1.692633e+12,51.932023,1.696238e+12,1.692767e+12,0.305442
std,1.048243e+08,21466476.753983,86710.403670,58370.833324,31.427274,4.667735e+08,93.049319,3.208041e+09,1.075535e+08,0.460612
min,8.500877e+07,1009.0,10.000000,10.000000,1.0,1.686211e+12,1.0,1.694271e+12,1.691672e+12,0.000000
25%,3.693073e+09,11038.5,40.000000,30.250000,2.0,1.692731e+12,5.0,1.695328e+12,1.692736e+12,0.000000
50%,3.697363e+09,165464.0,75000.000000,58240.000000,5.0,1.692737e+12,20.0,1.695338e+12,1.692745e+12,0.000000
75%,3.699413e+09,4822178.0,133000.000000,93400.000000,15.0,1.692824e+12,58.0,1.695425e+12,1.692831e+12,1.000000
max,3.701374e+09,98556556.0,1000000.000000,750000.000000,832.0,1.692868e+12,1549.0,1.708420e+12,1.692868e+12,1.000000

### Importing second dataset (company_industries)

In [98]:
company_industries = pd.read_csv(r'/Users/pierremora/Desktop/LinkedIn Job Postings 2023/DATA/RAW DATA/company_industries.csv', index_col = False)

### Descpritive analysis of the dataset

In [102]:
#checking data types
company_industries.dtypes

company_id     int64
industry      object
dtype: object

In [103]:
#checking content
company_industries.describe()

         company_id
count  1.588000e+04
mean   1.072469e+07
std    2.274282e+07
min    1.009000e+03
25%    1.338600e+04
50%    3.474100e+05
75%    9.308035e+06
max    9.856222e+07

In [104]:
company_industries.head(5)

   company_id                               industry
0    81149246                       Higher Education
1    10033339      Information Technology & Services
2     6049228                             Accounting
3     2641066  Electrical & Electronic Manufacturing
4    96649998                Marketing & Advertising

### Checking missing values

In [106]:
# counting missing values
missing_values3 = company_industries.isnull().sum()
# Calculating the percentage of missing values
missing_percentage3 = (missing_values3 / len(company_industries)) * 100
# Combining  the results and sort by percentage:
missing_data3 = pd.DataFrame({
    'Missing Values': missing_values3,
    'Percentage': missing_percentage3
}).sort_values(by='Percentage', ascending=False)
# checking results
print(missing_data3[missing_data3['Missing Values'] > 0])

Empty DataFrame
Columns: [Missing Values, Percentage]
Index: []

### Checking fully duplicates

In [107]:
# Identifying fully duplicated rows
full_duplicates3 = company_industries[company_industries.duplicated()]

# Counting the number of fully duplicated rows
num_full_duplicates3 = len(full_duplicates3)
print(f"Number of fully duplicated rows: {num_full_duplicates3}")

Number of fully duplicated rows: 9877

In [109]:
company_industries.shape

(15880, 2)

In [110]:
job_postings.shape

(13158, 22)

In [111]:
# Removing fully duplicated rows based on both company_id and industry
company_industries_no_dup = company_industries.drop_duplicates(subset=['company_id', 'industry'], keep='first')

In [112]:
company_industries.shape

(15880, 2)

In [113]:
# counting company_id
company_counts = company_industries_no_dup['company_id'].value_counts()

for company, count in company_counts.items():
    print(f"{company}: {count}")

81149246: 1
1576969: 1
14780375: 1
3131483: 1
162749: 1
68177267: 1
29331: 1
33282143: 1
51716: 1
79696510: 1
56861: 1
64883: 1
1228217: 1
2671586: 1
110372: 1
4918: 1
52143761: 1
686294: 1
497017: 1
18209861: 1
15564: 1
25017205: 1
53491671: 1
732744: 1
49644642: 1
13637042: 1
8455: 1
2690: 1
24787197: 1
162724: 1
14133: 1
2087: 1
111485: 1
1618718: 1
298190: 1
65294553: 1
1115776: 1
89877420: 1
77049371: 1
28439179: 1
35498950: 1
6104: 1
162912: 1
77301: 1
3196: 1
24122185: 1
1916708: 1
1162908: 1
2681277: 1
2480405: 1
6702: 1
26067: 1
217338: 1
35566147: 1
165422: 1
163852: 1
18401: 1
3812750: 1
367977: 1
665858: 1
4030721: 1
28810: 1
911928: 1
10877848: 1
143720: 1
814025: 1
227878: 1
164134: 1
40692536: 1
1511: 1
12250: 1
8151492: 1
27185258: 1
851980: 1
26630: 1
6470711: 1
2528: 1
2708254: 1
88016: 1
493453: 1
82315716: 1
71910: 1
15656: 1
1627: 1
17998520: 1
5064123: 1
41147: 1
84418: 1
6367266: 1
1526: 1
3260: 1
368844: 1
15223686: 1
78310268: 1
157346: 1
64981: 1
10447496: 1
82301960: 1
9402: 1
1090323: 1
8063: 1
2060607: 1
5618: 1
64681939: 1
2925665: 1
1121984: 1
13094: 1
2837787: 1
64672598: 1
91534: 1
16101: 1
164131: 1
7042786: 1
15203: 1
1110268: 1
3486: 1
2989624: 1
41294: 1
4167: 1
35486746: 1
20461700: 1
36232: 1
17639: 1
10462531: 1
64998398: 1
35576936: 1
13074: 1
83871: 1
35486246: 1
10952715: 1
124258: 1
27157459: 1
98116367: 1
8323: 1
42875: 1
10055939: 1
921329: 1
90403931: 1
68634398: 1
26638644: 1
15252329: 1
29620: 1
11204: 1
407724: 1
3256: 1
102847: 1
6458462: 1
54360562: 1
79482021: 1
69874217: 1
8795: 1
34638: 1
21000: 1
31060078: 1
9190490: 1
15246855: 1
132969: 1
18856871: 1
8936: 1
80646120: 1
649827: 1
3873058: 1
4851811: 1
2324727: 1
18154: 1
51701268: 1
26873: 1
12907: 1
2423: 1
89133: 1
29160: 1
120859: 1
25374: 1
3264: 1
1299566: 1
80021800: 1
22612: 1
10137: 1
1474: 1
1874: 1
75348: 1
2162: 1
16249143: 1
2447993: 1
1096648: 1
3676298: 1
2564886: 1
165294: 1
35506944: 1
5353: 1
11180: 1
3748: 1
162418: 1
11065927: 1
163763: 1
18453: 1
3724: 1
81958809: 1
72056711: 1
2709: 1
1013110: 1
7587370: 1
9225358: 1
2584496: 1
3626: 1
424952: 1
380752: 1
165862: 1
261456: 1
2931: 1
4111455: 1
211166: 1
3104354: 1
12605993: 1
63010: 1
30772606: 1
10442082: 1
49649167: 1
17224: 1
2078: 1
165471: 1
4768: 1
38587: 1
9893: 1
27176653: 1
30150412: 1
734180: 1
13798: 1
12129: 1
4729: 1
164754: 1
80157050: 1
33266522: 1
3888: 1
6433967: 1
82160322: 1
28154: 1
14255: 1
741253: 1
10016224: 1
157338: 1
2584494: 1
11240: 1
18287: 1
378234: 1
8336: 1
2018: 1
658814: 1
580089: 1
347410: 1
4754521: 1
206226: 1
79560: 1
5770: 1
3015: 1
973375: 1
2381434: 1
324276: 1
16733: 1
37396978: 1
166753: 1
54116: 1
91455579: 1
59347638: 1
3053638: 1
12906613: 1
23714018: 1
8221: 1
9221: 1
53193: 1
61631: 1
19109: 1
10420321: 1
661629: 1
64726: 1
8062: 1
12701: 1
5790: 1
4156: 1
1410985: 1
2945366: 1
21667: 1
24787024: 1
521160: 1
3654739: 1
6194: 1
2780388: 1
601919: 1
37016901: 1
1675576: 1
629785: 1
27333: 1
2014725: 1
1908: 1
1392: 1
9714055: 1
3783876: 1
15739: 1
10887287: 1
16038: 1
3240: 1
3690: 1
4822178: 1
3308308: 1
1504533: 1
2248203: 1
79239: 1
2164319: 1
34218836: 1
28850513: 1
34220: 1
9937: 1
6078: 1
15494986: 1
164113: 1
1714: 1
639802: 1
3557082: 1
28209: 1
26586: 1
68463: 1
607957: 1
12293: 1
10279209: 1
209610: 1
10223966: 1
660180: 1
2476: 1
12709: 1
18062: 1
73600: 1
436931: 1
8281: 1
8280: 1
18280: 1
14140: 1
2106853: 1
15550475: 1
2125741: 1
4728: 1
2598400: 1
19368: 1
11695727: 1
9527703: 1
4101: 1
27127: 1
1505: 1
2934272: 1
27752: 1
2649: 1
1403: 1
1689: 1
1016: 1
12227: 1
6215: 1
11752085: 1
2939816: 1
20441: 1
5355: 1
15596827: 1
8366: 1
869141: 1
16225376: 1
1082195: 1
17109: 1
41245: 1
40693052: 1
10795459: 1
166680: 1
162479: 1
79688206: 1
1394616: 1
2880768: 1
4453: 1
2139520: 1
888055: 1
51063: 1
98211233: 1
8276: 1
1750455: 1
69819011: 1
13202040: 1
1287418: 1
87226329: 1
18065999: 1
19195997: 1
78630757: 1
98470447: 1
13705949: 1
566521: 1
122659: 1
7602863: 1
3520952: 1
1637012: 1
2743: 1
7956302: 1
2446172: 1
1343839: 1
4005968: 1
1015491: 1
94267572: 1
92525: 1
64709762: 1
479378: 1
98525576: 1
87991797: 1
2472062: 1
1003396: 1
68660545: 1
2642477: 1
2012594: 1
2578208: 1
2547931: 1
1611662: 1
4818381: 1
3732076: 1
16127: 1
5294: 1
93514: 1
136191: 1
11002014: 1
4196994: 1
81951318: 1
1283: 1
2260687: 1
8308965: 1
76948210: 1
91716675: 1
1199482: 1
2842489: 1
79821462: 1
20344983: 1
4647: 1
2722: 1
75193: 1
40888889: 1
16154370: 1
80006625: 1
28389122: 1
44960: 1
20629: 1
961661: 1
64746: 1
13646464: 1
14542251: 1
572631: 1
370509: 1
84824199: 1
78708714: 1
82456548: 1
37516: 1
113885: 1
305895: 1
51279: 1
1587140: 1
19089475: 1
37237151: 1
88236: 1
12555: 1
64671674: 1
27196254: 1
166671: 1
26231: 1
40392: 1
16944: 1
762365: 1
63828: 1
728536: 1
115024: 1
81548274: 1
17979297: 1
35557246: 1
15546: 1
79804728: 1
1456190: 1
7268: 1
17246: 1
34755301: 1
2518106: 1
744463: 1
40661083: 1
490432: 1
300543: 1
5652: 1
164808: 1
91161992: 1
9826: 1
21444: 1
7587304: 1
3996786: 1
28052: 1
77115539: 1
3954657: 1
49455: 1
1768093: 1
4099: 1
2057437: 1
65474231: 1
349297: 1
1280557: 1
15473: 1
29352: 1
27196805: 1
1540702: 1
10820: 1
23236: 1
1307: 1
53596: 1
2251: 1
10794364: 1
16182319: 1
3586991: 1
38913: 1
1183247: 1
81958632: 1
114531: 1
11674: 1
51586112: 1
2667419: 1
79925463: 1
81415569: 1
26244696: 1
43533: 1
16237834: 1
2718681: 1
2937226: 1
203731: 1
383000: 1
89869268: 1
1274529: 1
3326615: 1
2012779: 1
71211384: 1
89220418: 1
86397043: 1
321712: 1
89883684: 1
18380759: 1
108183: 1
20330166: 1
27758: 1
18409: 1
27108872: 1
6472500: 1
103186: 1
1186421: 1
31456827: 1
45603: 1
132468: 1
89791822: 1
72434046: 1
75069004: 1
20369: 1
7587252: 1
163787: 1
9779: 1
24440: 1
7099708: 1
959749: 1
102963: 1
29334397: 1
52591: 1
72092703: 1
19187612: 1
2059: 1
14507: 1
2548108: 1
79462541: 1
1075106: 1
166925: 1
15701441: 1
2648: 1
552829: 1
8479403: 1
31827: 1
166714: 1
144266: 1
35674270: 1
559698: 1
65299: 1
13186641: 1
64940346: 1
2157: 1
14830058: 1
2220929: 1
164451: 1
581027: 1
2247: 1
2541700: 1
9401140: 1
2982156: 1
3109444: 1
42134: 1
5266489: 1
32469: 1
28993430: 1
78467539: 1
585887: 1
2925058: 1
6891304: 1
15979299: 1
15720708: 1
57404291: 1
354870: 1
644776: 1
10854676: 1
50170: 1
1104193: 1
63532172: 1
2045038: 1
94401: 1
129849: 1
77663416: 1
71719247: 1
73858168: 1
11349: 1
10889820: 1
66304846: 1
13274070: 1
4346: 1
81891901: 1
1259593: 1
18754113: 1
545538: 1
33146581: 1
2312114: 1
13316384: 1
165730: 1
11713929: 1
74475378: 1
6481: 1
93158430: 1
77129385: 1
10150959: 1
348981: 1
2985: 1
1431: 1
2489937: 1
50909: 1
570101: 1
4019848: 1
18639: 1
81590134: 1
1210463: 1
32987: 1
7794161: 1
11396826: 1
71356467: 1
1852454: 1
82277950: 1
1658: 1
27771: 1
16167895: 1
76365076: 1
294502: 1
10282659: 1
510681: 1
15637586: 1
6732937: 1
76677145: 1
289663: 1
42744: 1
89849744: 1
13626: 1
91560546: 1
6617639: 1
5067678: 1
33295996: 1
4983419: 1
69478509: 1
2928506: 1
1974: 1
12965: 1
45091: 1
893928: 1
9392485: 1
225239: 1
4207: 1
58405028: 1
1124924: 1
3711368: 1
19189206: 1
162531: 1
5386170: 1
3693158: 1
7684: 1
11033790: 1
19637: 1
18527534: 1
71939: 1
29448: 1
27837: 1
77222: 1
283807: 1
71721166: 1
3710414: 1
51626838: 1
3032528: 1
4465: 1
82292919: 1
2032: 1
44829: 1
157306: 1
35504188: 1
3533175: 1
485573: 1
36769: 1
19327: 1
3681: 1
40686676: 1
22534: 1
166774: 1
17483: 1
86001745: 1
3495423: 1
166486: 1
37423105: 1
3507064: 1
668353: 1
33134: 1
24798: 1
40787265: 1
34218: 1
10650177: 1
13476: 1
24372: 1
4057: 1
2320776: 1
5062412: 1
64746547: 1
1366457: 1
18040365: 1
15725: 1
76312: 1
16240930: 1
12672576: 1
6600327: 1
690568: 1
3136318: 1
22141: 1
31869: 1
25040356: 1
1087079: 1
556848: 1
12863: 1
1684870: 1
9286: 1
2880: 1
1344009: 1
79992118: 1
42925: 1
20009: 1
5352294: 1
65448818: 1
313431: 1
165444: 1
7590279: 1
15506: 1
67080514: 1
320132: 1
6587396: 1
71305857: 1
1732887: 1
1458905: 1
68428: 1
65501986: 1
89490424: 1
7587729: 1
31398220: 1
73414: 1
421728: 1
33227880: 1
379207: 1
81954233: 1
4221934: 1
48024: 1
25170550: 1
3558: 1
25179038: 1
84491389: 1
80911138: 1
12192: 1
26283799: 1
85123: 1
1248: 1
34821: 1
9117: 1
4564: 1
3335: 1
71575605: 1
10341654: 1
2305: 1
1406: 1
89801388: 1
4399: 1
349014: 1
3589: 1
90639: 1
9308035: 1
102534: 1
1281: 1
9640: 1
1931371: 1
53265404: 1
33299676: 1
98516997: 1
11040795: 1
53265880: 1
71036906: 1
1946459: 1
451961: 1
3777778: 1
84025208: 1
11370: 1
847311: 1
90906967: 1
13617646: 1
18813: 1
88935532: 1
64595377: 1
35594754: 1
1889643: 1
14542824: 1
426121: 1
83546: 1
163732: 1
77224: 1
34747223: 1
2180169: 1
996271: 1
9219414: 1
1940473: 1
28169: 1
2857634: 1
15101724: 1
22085: 1
33055: 1
18312164: 1
7602005: 1
3643: 1
11494547: 1
70261721: 1
5461: 1
8737: 1
1767: 1
18334050: 1
37871: 1
269675: 1
68235865: 1
7586104: 1
100302: 1
3543771: 1
623716: 1
114485: 1
67098: 1
2678: 1
2497653: 1
3112877: 1
98106539: 1
11758: 1
6963: 1
283666: 1
3677: 1
34583: 1
40900877: 1
19100519: 1
413275: 1
7801: 1
1382996: 1
56307735: 1
13550: 1
29497: 1
2382849: 1
165648: 1
8058: 1
19807: 1
18979802: 1
2155460: 1
166471: 1
11553382: 1
8017: 1
22241: 1
220336: 1
10831504: 1
5351: 1
77633193: 1
698629: 1
243836: 1
5243263: 1
29356794: 1
49648429: 1
3135: 1
24518: 1
3025562: 1
15916: 1
1399: 1
585138: 1
64865352: 1
164885: 1
162787: 1
96180361: 1
708393: 1
3254263: 1
455602: 1
1098181: 1
163993: 1
71316538: 1
1339209: 1
65878041: 1
999245: 1
17882: 1
2612: 1
79988879: 1
741062: 1
7886: 1
6265: 1
82385: 1
1557409: 1
90409926: 1
11518813: 1
56119363: 1
12273: 1
71001279: 1
1051903: 1
15142330: 1
22505: 1
24795036: 1
6281: 1
2609: 1
27964: 1
108854: 1
14617392: 1
9813: 1
52160128: 1
17763: 1
3810572: 1
16279: 1
79836770: 1
1259: 1
96403464: 1
13755: 1
2045607: 1
2467404: 1
2909349: 1
13048091: 1
35486851: 1
74677909: 1
3178910: 1
2937325: 1
1457702: 1
143448: 1
60172576: 1
10496448: 1
4832201: 1
2465968: 1
1147000: 1
69109979: 1
40814213: 1
10005158: 1
144414: 1
66699756: 1
74675845: 1
93641815: 1
2505051: 1
26253911: 1
142596: 1
163566: 1
3295320: 1
76227652: 1
74283888: 1
67537118: 1
157262: 1
90538923: 1
18043902: 1
16199754: 1
2787112: 1
60358522: 1
90912229: 1
973957: 1
33260191: 1
249004: 1
12951519: 1
813581: 1
9502542: 1
1557314: 1
10515650: 1
2925555: 1
784330: 1
18422393: 1
1536514: 1
80036929: 1
35523439: 1
85656518: 1
1882926: 1
91170174: 1
7032: 1
220205: 1
63285379: 1
52972: 1
18596401: 1
11468014: 1
95757302: 1
3089114: 1
77160079: 1
6639977: 1
4416: 1
3128709: 1
68067020: 1
4514431: 1
85824441: 1
1517824: 1
82515398: 1
917137: 1
1260561: 1
1996803: 1
19394: 1
3881: 1
12902: 1
42415283: 1
245238: 1
33432301: 1
2888865: 1
7147770: 1
3807582: 1
3176132: 1
931682: 1
63484613: 1
10047989: 1
2132727: 1
3407: 1
56766: 1
78631: 1
42686769: 1
19176921: 1
1205053: 1
68496728: 1
28483008: 1
1208213: 1
18021555: 1
96632578: 1
3719102: 1
15644899: 1
17419: 1
528424: 1
64563366: 1
7917: 1
6234: 1
331670: 1
39197750: 1
2169454: 1
67566886: 1
18195942: 1
12977219: 1
63267: 1
27510668: 1
96468389: 1
528422: 1
628213: 1
28987629: 1
81675397: 1
912358: 1
2343688: 1
69552807: 1
302387: 1
96104044: 1
10514179: 1
10682123: 1
42221: 1
138192: 1
1239251: 1
78451299: 1
82792265: 1
6870363: 1
85738: 1
1162405: 1
2575850: 1
2749736: 1
25042958: 1
3313008: 1
102211: 1
1965562: 1
3898242: 1
3536644: 1
5848: 1
9322302: 1
10017534: 1
30599146: 1
450279: 1
22167: 1
71300779: 1
74238915: 1
73067184: 1
13994355: 1
2971337: 1
3143455: 1
3279188: 1
26531259: 1
126600: 1
74434793: 1
69386044: 1
1138689: 1
2055594: 1
18788317: 1
89521965: 1
73578: 1
15695797: 1
3706348: 1
165461: 1
1878126: 1
69793: 1
6647752: 1
444599: 1
5061336: 1
74548154: 1
40798255: 1
7122557: 1
72272769: 1
1291555: 1
2681180: 1
18900226: 1
165078: 1
3158134: 1
1862569: 1
3523887: 1
36141: 1
15677: 1
241214: 1
15103: 1
95036: 1
81970078: 1
9216906: 1
9812: 1
10180986: 1
252398: 1
12890: 1
10408914: 1
15762: 1
743266: 1
83075151: 1
163032: 1
76178721: 1
285027: 1
81535497: 1
2811769: 1
139348: 1
581824: 1
423483: 1
11420022: 1
111283: 1
162954: 1
214560: 1
4881: 1
5585: 1
18923058: 1
2193256: 1
21250: 1
8031: 1
65298298: 1
93183345: 1
11753: 1
29037477: 1
461301: 1
16251153: 1
64256270: 1
19117909: 1
1342014: 1
25073964: 1
7307355: 1
5059324: 1
27973: 1
5242206: 1
80092649: 1
422503: 1
1815139: 1
25076: 1
17233: 1
19180: 1
64639449: 1
4257: 1
18036: 1
35434603: 1
4994: 1
16094: 1
9210946: 1
13920: 1
13670: 1
963770: 1
1867264: 1
19164401: 1
19565: 1
14528: 1
41004: 1
76127808: 1
29289303: 1
5553: 1
165303: 1
2432: 1
344707: 1
29016120: 1
19349: 1
164006: 1
9229: 1
2748: 1
248599: 1
8684: 1
25856: 1
23499: 1
76252253: 1
3180238: 1
11648: 1
9585: 1
19698: 1
3398: 1
9652: 1
6250: 1
35640218: 1
2394593: 1
4255: 1
10632734: 1
27792: 1
10682189: 1
13033: 1
2918: 1
2692195: 1
12095: 1
3894: 1
15168: 1
164200: 1
10001: 1
86041588: 1
163883: 1
1326052: 1
5301959: 1
5204: 1
1703: 1
10032: 1
9643: 1
545086: 1
10490165: 1
2774891: 1
35531936: 1
163842: 1
1068: 1
3523360: 1
2430668: 1
5107: 1
165380: 1
23662: 1
17283: 1
9414302: 1
2102144: 1
6683: 1
28409: 1
1808: 1
78060358: 1
163151: 1
6360: 1
5028465: 1
18546466: 1
25041007: 1
164827: 1
3602072: 1
559761: 1
8390: 1
8346: 1
1384029: 1
9236263: 1
1536527: 1
6369906: 1
255406: 1
7291754: 1
18801226: 1
8520024: 1
9682879: 1
1009: 1
5113: 1
112386: 1
27111495: 1
2192: 1
26167: 1
321986: 1
74148253: 1
13079: 1
11754751: 1
214361: 1
55853962: 1
80519: 1
2933: 1
12606850: 1
2651262: 1
27241994: 1
74540132: 1
90726870: 1
9240: 1
3889: 1
29579: 1
79902774: 1
1115: 1
162510: 1
884316: 1
17603: 1
246704: 1
6059153: 1
28145529: 1
11032952: 1
456189: 1
6192: 1
5013440: 1
21836: 1
400528: 1
2620735: 1
28131533: 1
2450045: 1
1523: 1
12932: 1
2636280: 1
461365: 1
9703: 1
164711: 1
90544524: 1
19024424: 1
40687781: 1
166643: 1
91533096: 1
20573: 1
3202422: 1
20296181: 1
19722: 1
18880849: 1
256109: 1
10165687: 1
647285: 1
65361091: 1
89724899: 1
28779350: 1
7788794: 1
33457526: 1
1258855: 1
3731368: 1
37251914: 1
163920: 1
28978143: 1
5343: 1
12336: 1
2257863: 1
16178566: 1
11419: 1
66727780: 1
72513099: 1
4857: 1
19192589: 1
41447: 1
7639: 1
16265636: 1
479154: 1
15080: 1
162536: 1
17981957: 1
8019: 1
18058364: 1
3338050: 1
166732: 1
6867: 1
9251256: 1
1476197: 1
228650: 1
41255: 1
4827450: 1
162243: 1
27221116: 1
2516: 1
2871879: 1
82153: 1
7803233: 1
383161: 1
10440912: 1
1096036: 1
121082: 1
10515: 1
13188: 1
11266342: 1
167024: 1
9062: 1
7466: 1
5775: 1
167757: 1
95985: 1
483347: 1
1043: 1
1784: 1
1038: 1
166391: 1
3509022: 1
86265278: 1
18777798: 1
39065: 1
28974109: 1
18954974: 1
21337: 1
377671: 1
35446044: 1
55787: 1
3619383: 1
3591568: 1
2564997: 1
82291209: 1
704813: 1
85320: 1
3831: 1
76500049: 1
8968: 1
295644: 1
81897394: 1
333323: 1
4037: 1
18860134: 1
6913: 1
1603: 1
299849: 1
61252: 1
2454643: 1
822071: 1
3534: 1
49042: 1
3549: 1
57654024: 1
9732: 1
6016: 1
37857: 1
5872503: 1
23258: 1
3128: 1
3521798: 1
265869: 1
35571114: 1
104405: 1
3008681: 1
11243027: 1
12570: 1
18617399: 1
35504: 1
6643679: 1
19337: 1
2459: 1
3450: 1
7783: 1
8403: 1
108340: 1
96371493: 1
4835523: 1
73984720: 1
164245: 1
3185967: 1
18617400: 1
20551: 1
166707: 1
76073934: 1
163085: 1
295604: 1
6191: 1
3781515: 1
16710: 1
1494: 1
2230: 1
1552540: 1
162755: 1
550530: 1
8014: 1
35529547: 1
202625: 1
656981: 1
163348: 1
60419691: 1
2564992: 1
5998: 1
82565734: 1
406004: 1
2750: 1
1075291: 1
17902: 1
2802262: 1
4697690: 1
42434665: 1
104895: 1
5670: 1
5970: 1
11490204: 1
1056303: 1
222632: 1
56199234: 1
9460096: 1
32478: 1
165918: 1
18176: 1
4249497: 1
18109: 1
18353: 1
6288: 1
167212: 1
3649864: 1
25170579: 1
54881838: 1
3140: 1
163547: 1
1478028: 1
16402: 1
5023955: 1
92473727: 1
91899: 1
3609818: 1
63730: 1
1243700: 1
9438134: 1
68529: 1
466204: 1
3041246: 1
856720: 1
2473798: 1
15318097: 1
484735: 1
134924: 1
22340991: 1
74770532: 1
85862380: 1
4990022: 1
760983: 1
2562534: 1
37538409: 1
4375680: 1
21890: 1
35664005: 1
32831: 1
11022681: 1
165340: 1
10346153: 1
15145310: 1
72154: 1
983286: 1
7952957: 1
2718193: 1
82572803: 1
31561375: 1
39220: 1
19022: 1
3028: 1
50111: 1
1645: 1
59005249: 1
232381: 1
11419009: 1
143917: 1
6449564: 1
389597: 1
1646: 1
18953305: 1
77111: 1
29140: 1
45072: 1
1051105: 1
18371647: 1
4122221: 1
2492528: 1
9499963: 1
14244: 1
29399: 1
18779256: 1
149888: 1
3223482: 1
631652: 1
260775: 1
606700: 1
9334721: 1
11169077: 1
119688: 1
18741513: 1
28649423: 1
71220701: 1
35674569: 1
163828: 1
9561: 1
2107: 1
9499: 1
3900368: 1
595749: 1
34609933: 1
31065: 1
19409: 1
11050434: 1
80915023: 1
110191: 1
18434167: 1
33711: 1
10473285: 1
38400: 1
26259795: 1
13151: 1
57207: 1
20894: 1
10432667: 1
523382: 1
1560402: 1
163846: 1
1906: 1
11368736: 1
2887000: 1
42876933: 1
74615241: 1
1759630: 1
77601: 1
357168: 1
120240: 1
37224: 1
763451: 1
1487716: 1
35533147: 1
40783: 1
9316780: 1
1579491: 1
10249: 1
6725: 1
165874: 1
3085943: 1
1022308: 1
18028120: 1
266375: 1
62901: 1
1090634: 1
7542: 1
71228931: 1
982394: 1
42104: 1
1155886: 1
85516: 1
72170: 1
2159572: 1
6419: 1
96623571: 1
15575: 1
29283590: 1
10072541: 1
5236983: 1
24803: 1
349545: 1
2034303: 1
66525: 1
2633346: 1
11948: 1
26315: 1
4910: 1
4951: 1
7935: 1
41854: 1
27119385: 1
3743186: 1
1828: 1
37510114: 1
6738: 1
2424317: 1
6154: 1
3215834: 1
1151910: 1
5040587: 1
1335225: 1
13011: 1
289597: 1
5410: 1
13664: 1
5772: 1
91305: 1
71607371: 1
4062: 1
3411: 1
163535: 1
165024: 1
56416392: 1
932766: 1
981482: 1
52136858: 1
27055364: 1
10093812: 1
43432: 1
4622: 1
7027: 1
27136659: 1
46648: 1
20145902: 1
15533103: 1
1852: 1
157340: 1
495856: 1
13341041: 1
41754: 1
12984051: 1
25552: 1
1415: 1
77762369: 1
2934: 1
9505: 1
3439: 1
2087756: 1
4296: 1
16266367: 1
28669777: 1
3695: 1
9511: 1
27214085: 1
3528: 1
10154666: 1
9498845: 1
83008343: 1
39189: 1
269397: 1
16272: 1
9564701: 1
13880: 1
2831596: 1
11467712: 1
756621: 1
11522: 1
203053: 1
10439738: 1
1152888: 1
105066: 1
28899: 1
6631661: 1
18290532: 1
7962426: 1
2073050: 1
1059609: 1
3270028: 1
7454: 1
11770142: 1
5884: 1
10590: 1
28660903: 1
80099988: 1
157353: 1
16246341: 1
30950491: 1
68796640: 1
35666700: 1
44431: 1
74351350: 1
95970672: 1
6028702: 1
858837: 1
71049830: 1
74081610: 1
5215734: 1
7307421: 1
9104115: 1
611131: 1
76219339: 1
76323674: 1
37268793: 1
26234183: 1
307494: 1
3866043: 1
23858: 1
2343541: 1
3590771: 1
634422: 1
1948429: 1
71708680: 1
5384095: 1
28852880: 1
10046521: 1
224457: 1
9177279: 1
3653845: 1
337476: 1
1412: 1
4670: 1
5034592: 1
3506516: 1
15679458: 1
5328: 1
51623430: 1
2857649: 1
101459: 1
497515: 1
42320162: 1
11682694: 1
908113: 1
5352880: 1
476988: 1
53452: 1
5025162: 1
55174840: 1
67539759: 1
237403: 1
64661046: 1
166587: 1
87217500: 1
204589: 1
1646289: 1
1886806: 1
2227: 1
1728689: 1
4032374: 1
52047: 1
11224: 1
165806: 1
2117915: 1
9479776: 1
2689618: 1
2467: 1
10096293: 1
2804770: 1
35716623: 1
19385: 1
316610: 1
68617019: 1
19255371: 1
4836197: 1
219885: 1
716845: 1
79584279: 1
1570328: 1
64927020: 1
36749: 1
50913: 1
32924: 1
2543692: 1
2665404: 1
6618000: 1
154713: 1
18115651: 1
570415: 1
28989621: 1
11000239: 1
80267840: 1
947715: 1
10126224: 1
74571418: 1
20915: 1
78300615: 1
71169: 1
33311370: 1
36676: 1
331239: 1
692573: 1
70568578: 1
811848: 1
201778: 1
21984: 1
68764239: 1
18785975: 1
73832604: 1
97554: 1
6675725: 1
2650: 1
4667: 1
5396873: 1
165944: 1
219009: 1
281351: 1
950989: 1
13260716: 1
37433574: 1
102989: 1
319995: 1
18701459: 1
11485547: 1
61257: 1
70414137: 1
166578: 1
270020: 1
76324959: 1
9185958: 1
1486572: 1
5327: 1
16163818: 1
33247784: 1
38605: 1
10443336: 1
9259: 1
10649: 1
29296664: 1
11834: 1
11788646: 1
1482552: 1
27062130: 1
2534: 1
82812960: 1
39203: 1
19170: 1
527081: 1
80226: 1
162961: 1
2701: 1
1307665: 1
36995: 1
5913: 1
164401: 1
206993: 1
549532: 1
35431930: 1
16263: 1
163233: 1
34955371: 1
27069: 1
40876668: 1
42171530: 1
100781: 1
163662: 1
74718032: 1
130095: 1
3845: 1
75421875: 1
1908498: 1
2354064: 1
10260832: 1
15112: 1
15139: 1
15156804: 1
373399: 1
5081590: 1
23222: 1
10667: 1
79098: 1
17882015: 1
3337: 1
10530485: 1
249657: 1
14468318: 1
1589941: 1
9671432: 1
18632302: 1
20725: 1

In [114]:
# counting industries
industry_counts = company_industries_no_dup['industry'].value_counts()

for industry, count in industry_counts.items():
    print(f"{industry}: {count}")

Staffing & Recruiting: 780
Information Technology & Services: 691
Hospital & Health Care: 426
Computer Software: 271
Financial Services: 231
Construction: 154
Retail: 152
Non-profit Organization Management: 129
Real Estate: 126
Management Consulting: 117
Higher Education: 106
Marketing & Advertising: 101
Insurance: 100
Transportation/Trucking/Railroad: 97
Law Practice: 92
Government Administration: 84
Hospitality: 81
Automotive: 77
Consumer Goods: 70
Biotechnology: 67
Apparel & Fashion: 65
Food & Beverages: 61
Electrical & Electronic Manufacturing: 60
Medical Device: 60
Health, Wellness & Fitness: 59
Banking: 57
Mechanical Or Industrial Engineering: 56
Mental Health Care: 54
Oil & Energy: 51
Education Management: 51
Pharmaceuticals: 49
Utilities: 49
Human Resources: 45
Entertainment: 45
Machinery: 42
Building Materials: 42
Food Production: 42
Accounting: 41
Environmental Services: 41
Telecommunications: 40
Research: 39
Defense & Space: 38
Civil Engineering: 36
Chemicals: 32
Aviation & Aerospace: 32
Renewables & Environment: 30
Semiconductors: 30
Restaurants: 30
Individual & Family Services: 27
Architecture & Planning: 27
Wholesale: 27
Consumer Services: 27
Luxury Goods & Jewelry: 25
Mining & Metals: 24
Design: 24
Facilities Services: 23
Leisure, Travel & Tourism: 21
Packaging & Containers: 21
Medical Practice: 20
Broadcast Media: 18
Cosmetics: 18
Sports: 18
Media Production: 17
Internet: 17
Computer & Network Security: 17
Public Relations & Communications: 16
Security & Investigations: 15
Primary/Secondary Education: 15
Industrial Automation: 14
Events Services: 14
Furniture: 14
Airlines/Aviation: 13
Information Services: 13
Consumer Electronics: 12
E-learning: 11
Civic & Social Organization: 11
Printing: 11
Venture Capital & Private Equity: 10
Legal Services: 10
International Trade & Development: 10
Outsourcing/Offshoring: 9
Public Safety: 9
Plastics: 9
Law Enforcement: 8
Logistics & Supply Chain: 8
Museums & Institutions: 7
Farming: 7
Computer Games: 7
Professional Training & Coaching: 7
Recreational Facilities & Services: 7
Music: 6
Religious Institutions: 6
Wine & Spirits: 6
Publishing: 6
Computer Hardware: 5
Government Relations: 5
Sporting Goods: 5
Paper & Forest Products: 5
Military: 5
Commercial Real Estate: 4
Writing & Editing: 4
Business Supplies & Equipment: 4
Glass, Ceramics & Concrete: 4
Performing Arts: 4
Package/Freight Delivery: 4
Textiles: 3
Supermarkets: 3
Shipbuilding: 3
Political Organization: 3
Online Media: 3
Gambling & Casinos: 3
Market Research: 3
Newspapers: 3
Alternative Medicine: 3
Judiciary: 2
Executive Office: 2
International Affairs: 2
Veterinary: 2
Investment Banking: 2
Investment Management: 2
Philanthropy: 2
Maritime: 2
Translation & Localization: 2
Think Tanks: 1
Dairy: 1
Wireless: 1
Libraries: 1
Legislative Office: 1
Public Policy: 1
Fundraising: 1
Animation: 1
Import & Export: 1
Computer Networking: 1
Warehousing: 1
Fine Art: 1
Photography: 1
Tobacco: 1
Graphic Design: 1
Railroad Manufacture: 1
Capital Markets: 1
Fishery: 1

### Checking Data Accuracy

In [117]:
# Checking for invalid company_id values (non-positive values or non-integer format)
invalid_company_ids = company_industries_no_dup[~company_industries_no_dup['company_id'].apply(lambda x: str(x).isdigit() and x > 0)]

invalid_company_ids_count = len(invalid_company_ids)

I used the apply method on the company_id column to check each value.

The lambda function lambda x: str(x).isdigit() and x > 0 checks two conditions:

str(x).isdigit(): This ensures that the value, when converted to a string, consists only of digits, which confirms it's an integer.

x > 0: This ensures that the value is positive.

The ~ operator is used to filter rows that do NOT satisfy the conditions, i.e., invalid company_id values.

Finally, I counted the number of such invalid values using len.

In [118]:
# exporting dataframe to cvs


company_industries_no_dup.to_csv(os.path.join(path, 'DATA','CLEAN DATA', 'company_industries_clean.csv'))

## Importing the third dataset (companies)

In [119]:
companies_names = pd.read_csv(r'/Users/pierremora/Desktop/LinkedIn Job Postings 2023/DATA/RAW DATA/companies.csv', index_col = False)

In [120]:
#checking data types
companies_names.dtypes

company_id        int64
name             object
description      object
company_size    float64
state            object
country          object
city             object
zip_code         object
address          object
url              object
dtype: object

In [122]:
#analyzing database
companies_names.describe()

         company_id  company_size
count  6.063000e+03   5474.000000
mean   6.669791e+07      3.764706
std    4.276660e+08      2.057414
min    1.009000e+03      1.000000
25%    9.488450e+04      2.000000
50%    2.174958e+06      4.000000
75%    1.834672e+07      5.000000
max    3.700153e+09      7.000000

### Checking missing Values

In [123]:
# Calculating the number of missing values for each column
missing_values4 = companies_names.isnull().sum()

# Calculating the percentage of missing values for each column
missing_percentages4 = (missing_values4 / len(companies_names)) * 100

# Creating a DataFrame to display the results
missing_data4 = pd.DataFrame({'Missing Values': missing_values4, 'Percentage (%)': missing_percentages4})

# Sort the results by the percentage of missing values in descending order
missing_data4 = missing_data4.sort_values(by='Percentage (%)', ascending=False)

In [124]:
# Printing the results
print(missing_data4)

              Missing Values  Percentage (%)
company_size             589        9.714663
description               64        1.055583
zip_code                   8        0.131948
address                    5        0.082467
state                      3        0.049480
company_id                 0        0.000000
name                       0        0.000000
country                    0        0.000000
city                       0        0.000000
url                        0        0.000000

Due to low percentage of missing values, these values will remain empty in the dataset

### Checking for fully duplicates

In [126]:
# Checking for fully duplicated rows
fully_duplicated_rows4 = companies_names[companies_names.duplicated(keep=False)]

# Counting the number of fully duplicated rows
fully_duplicated_count4 = len(fully_duplicated_rows4)

In [127]:
# Printing the results
print(f"There are {fully_duplicated_count4} fully duplicated rows in the dataset.")

There are 0 fully duplicated rows in the dataset.

There are no fully duplicated rows in the companies.csv dataset. This means every row in the dataset is unique.

### data consistency

In [128]:
# Counting the number of unique values in company_id
unique_company_ids2 = companies_names['company_id'].nunique()

# Getting the total number of rows in the dataset
total_rows = len(companies_names)

# Check if the number of unique company_ids is equal to the total number of rows
is_unique = unique_company_ids2 == total_rows

In this code:

I first counted the number of unique values in the company_id column.

Then, I determined the total number of rows in the dataset.

Finally, I compared the two numbers to see if they were equal. If they are equal, it indicates that the company_id is unique for each row.

In [129]:
# Printing the results
if is_unique:
    print("The company_id column is unique for each row.")
else:
    print("The company_id column is not unique. There are duplicate values.")

The company_id column is unique for each row.

In [130]:
# Counting occurrences of each country
country_counts2 = companies_names['country'].value_counts()

In [131]:
#printing results
print(country_counts2)

country
US    5419
0      156
GB     129
CA      71
IN      39
DE      35
CH      29
AU      19
FR      19
NL      15
SE      11
CN      11
FI       9
SG       8
DK       8
IE       7
IT       7
OO       6
JP       5
ES       5
IL       4
MX       4
AT       4
KR       3
AE       3
BE       3
BM       3
HK       3
TW       3
NZ       2
SA       2
AR       2
NO       2
HU       1
UY       1
ID       1
VN       1
KY       1
HR       1
TR       1
BR       1
CZ       1
GE       1
MD       1
IS       1
PR       1
CO       1
KE       1
LU       1
PH       1
Name: count, dtype: int64

In [132]:

# Mapping of ISO codes to full country names
iso_to_full_country = {
    'US': 'United States',
    'GB': 'United Kingdom',
    'CA': 'Canada',
    'IN': 'India',
    'DE': 'Germany',
    'CH': 'Switzerland',
    'AU': 'Australia',
    'FR': 'France',
    'NL': 'Netherlands',
    'SE': 'Sweden',
    'CN': 'China',
    'FI': 'Finland',
    'SG': 'Singapore',
    'DK': 'Denmark',
    'IE': 'Ireland',
    'IT': 'Italy',
    'JP': 'Japan',
    'ES': 'Spain',
    'IL': 'Israel',
    'MX': 'Mexico',
    'AT': 'Austria',
    'KR': 'South Korea',
    'AE': 'United Arab Emirates',
    'BE': 'Belgium',
    'BM': 'Bermuda',
    'HK': 'Hong Kong',
    'TW': 'Taiwan',
    'NZ': 'New Zealand',
    'SA': 'Saudi Arabia',
    'AR': 'Argentina',
    'NO': 'Norway',
    'HU': 'Hungary',
    'UY': 'Uruguay',
    'ID': 'Indonesia',
    'VN': 'Vietnam',
    'KY': 'Cayman Islands',
    'HR': 'Croatia',
    'TR': 'Turkey',
    'BR': 'Brazil',
    'CZ': 'Czech Republic',
    'GE': 'Georgia',
    'MD': 'Moldova',
    'IS': 'Iceland',
    'PR': 'Puerto Rico',
    'CO': 'Colombia',
    'KE': 'Kenya',
    'LU': 'Luxembourg',
    'PH': 'Philippines'
}

# Applying the mapping to the 'country' column to replace ISO codes with full country names
companies_names['country_full_name'] = companies_names['country'].map(iso_to_full_country).fillna(companies_names['country'])

# Display the dataset to verify the transformation 
print(companies_names[['company_id', 'country', 'country_full_name']].head())

   company_id country country_full_name
0        1009      US     United States
1        1016      US     United States
2        1021      US     United States
3        1025      US     United States
4        1028      US     United States

In this code:

I created a dictionary, iso_to_full_country, where the keys are the provided ISO codes and the values are the full country names.

I then used the map() function on the country column to replace the ISO codes with the full country names. If an ISO code wasn't found in the dictionary, the original value from the country column was retained using fillna(df_companies['country'])

In [133]:
# Counting occurrences of each country in the new country_full_name column
country_counts3 = companies_names['country_full_name'].value_counts()

In [134]:
#printing results
print(country_counts3)

country_full_name
United States           5419
0                        156
United Kingdom           129
Canada                    71
India                     39
Germany                   35
Switzerland               29
Australia                 19
France                    19
Netherlands               15
Sweden                    11
China                     11
Finland                    9
Singapore                  8
Denmark                    8
Ireland                    7
Italy                      7
OO                         6
Japan                      5
Spain                      5
Israel                     4
Mexico                     4
Austria                    4
South Korea                3
United Arab Emirates       3
Belgium                    3
Bermuda                    3
Hong Kong                  3
Taiwan                     3
New Zealand                2
Saudi Arabia               2
Argentina                  2
Norway                     2
Hungary                    1
Uruguay                    1
Indonesia                  1
Vietnam                    1
Cayman Islands             1
Croatia                    1
Turkey                     1
Brazil                     1
Czech Republic             1
Georgia                    1
Moldova                    1
Iceland                    1
Puerto Rico                1
Colombia                   1
Kenya                      1
Luxembourg                 1
Philippines                1
Name: count, dtype: int64

In [137]:
# Marking '00' and '0' values in the 'country_full_name' column as 'Unknown'
companies_names['country_full_name'] = companies_names['country_full_name'].replace({'00': 'Unknown', '0': 'Unknown'})

Data Imputation

In [135]:
# Counting occurrences of each city 
city_counts2 = companies_names['city'].value_counts()

#print results
print(city_counts2)

city
New York         275
0                219
Chicago          128
San Francisco    107
Houston          107
                ...
Jiangsu            1
Coplay             1
Oviedo             1
Verona             1
Tewksbury          1
Name: count, Length: 1675, dtype: int64

In [138]:
# Replacing '0' values in the 'city' column with 'Unknown'
companies_names['city'] = companies_names['city'].replace('0', 'Unknown')

In [140]:
# Counting occurrences of each city 
city_counts3 = companies_names['city'].value_counts()

#print results
print(city_counts3)

city
New York         275
Unknown          219
Chicago          128
San Francisco    107
Houston          107
                ...
Jiangsu            1
Coplay             1
Oviedo             1
Verona             1
Tewksbury          1
Name: count, Length: 1675, dtype: int64

In [142]:
# Checking the unique values and their counts for the 'state' column
state_counts2 = companies_names['state'].value_counts()

# Displaying the results
print(state_counts2.head(20))  # Displaying top 20 states by count for a concise view

state
0             480
CA            470
California    465
Texas         322
NY            219
Florida       165
New York      156
TX            146
New Jersey    140
Illinois      132
IL            123
FL            112
PA            106
MA            106
Georgia       102
Virginia       96
VA             88
Ohio           87
GA             87
NJ             81
Name: count, dtype: int64

Iconsistencies in Naming: There are inconsistencies in state naming. For instance, "California" and "CA" both represent the state of California. Similarly, "Texas" and "TX" or "New York" and "NY" are other examples.

Placeholders: There's a placeholder or missing value represented as "0" with 480 occurrences in the dataset.

In [144]:


# Mapping of state abbreviations to full state names
state_abbreviations2 = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

# Apply the mapping to the 'state' column to replace abbreviations with full state names
companies_names['state_full_name'] = companies_names['state'].map(state_abbreviations2).fillna(companies_names['state'])

# printing changes
print(companies_names[['company_id', 'state', 'state_full_name']].head(20))

    company_id      state state_full_name
0         1009         NY        New York
1         1016          0               0
2         1021         NY        New York
3         1025      Texas           Texas
4         1028      Texas           Texas
5         1038          0               0
6         1043          0               0
7         1044          0               0
8         1060  Stockholm       Stockholm
9         1063         CA      California
10        1068         NY        New York
11        1103         NJ      New Jersey
12        1115         BW              BW
13        1116       Ohio            Ohio
14        1123         NC  North Carolina
15        1185   New York        New York
16        1241          0               0
17        1248     London          London
18        1254         CA      California
19        1259          0               0

In [145]:
# Replacing '0' values in the 'state_full_name' column with 'Unknown'
companies_names['state_full_name'] = companies_names['state_full_name'].replace('0', 'Unknown')

In [146]:
# printing changes
print(companies_names[['company_id', 'state', 'state_full_name']].head(20))

    company_id      state state_full_name
0         1009         NY        New York
1         1016          0         Unknown
2         1021         NY        New York
3         1025      Texas           Texas
4         1028      Texas           Texas
5         1038          0         Unknown
6         1043          0         Unknown
7         1044          0         Unknown
8         1060  Stockholm       Stockholm
9         1063         CA      California
10        1068         NY        New York
11        1103         NJ      New Jersey
12        1115         BW              BW
13        1116       Ohio            Ohio
14        1123         NC  North Carolina
15        1185   New York        New York
16        1241          0         Unknown
17        1248     London          London
18        1254         CA      California
19        1259          0         Unknown

In [147]:
# checking columns
companies_names.dtypes

company_id             int64
name                  object
description           object
company_size         float64
state                 object
country               object
city                  object
zip_code              object
address               object
url                   object
country_full_name     object
state_full_name       object
dtype: object

### Dropping unnecessary columns for analysis

In [148]:
# Dropping the 'zip_code', 'address', and 'url' columns from the dataframe
companies_names = companies_names.drop(columns=['zip_code', 'address', 'url','description'])

In [149]:
# checking dataframe
companies_names.head()

,company_id,name,company_size,state,country,city,country_full_name,state_full_name
0,1009,IBM,7.0,NY,US,"Armonk, New York",United States,New York
1,1016,GE HealthCare,7.0,0,US,Chicago,United States,Unknown
2,1021,GE Power,7.0,NY,US,Schenectady,United States,New York
3,1025,Hewlett Packard Enterprise,7.0,Texas,US,Houston,United States,Texas
4,1028,Oracle,7.0,Texas,US,Austin,United States,Texas

In [150]:
# Renaming the specified columns
companies_names = companies_names.rename(columns={
    'country_full_name': 'company_location_country',
    'city': 'company_location_city',
    'state_full_name': 'company_location_state',
    'name': 'company_name'
})

In [151]:
# checking dataframe
companies_names.head()

,company_id,company_name,company_size,state,country,company_location_city,company_location_country,company_location_state
0,1009,IBM,7.0,NY,US,"Armonk, New York",United States,New York
1,1016,GE HealthCare,7.0,0,US,Chicago,United States,Unknown
2,1021,GE Power,7.0,NY,US,Schenectady,United States,New York
3,1025,Hewlett Packard Enterprise,7.0,Texas,US,Houston,United States,Texas
4,1028,Oracle,7.0,Texas,US,Austin,United States,Texas

In [153]:
# Dropping additional columns
companies_names = companies_names.drop(columns=['country', 'state'])

In [154]:
# checking columns
companies_names.dtypes

company_id                    int64
company_name                 object
company_size                float64
company_location_city        object
company_location_country     object
company_location_state       object
dtype: object

### Conducting additional data consistency checks
It seems that some cities have additional location information (like the state or region) appended after the comma, while others might have trailing commas or other inconsistent patterns.

In [156]:
# Counting the number of cities that include a comma
cities_with_comma2 = companies_names[companies_names['company_location_city'].str.contains(',', na=False)]
number_of_cities_with_comma2 = len(cities_with_comma2)

# Displaying the number and a sample of cities with a comma
cities_with_comma_sample2 = cities_with_comma2['company_location_city'].sample(min(20, number_of_cities_with_comma2))

print(f"Number of cities with a comma: {number_of_cities_with_comma2}")
print("\nSample of cities with a comma:")
print(cities_with_comma_sample2)

Number of cities with a comma: 33

Sample of cities with a comma:
4333                            Plainsboro, United States
3402                                       Washington, DC
3414    Denmark, Germany, UK, USA, Canada, Australia, ...
3143                            Florham Park, New Jersey
3200                          Kohala Coast, Hawaii Island
4286                                          Atlanta, GA
4872                              San Francisco, Bay area
1836                                   St Louis, MO 63141
138            Urbana-Champaign, Chicago, and Springfield
3036                                 Hartland, Village of
2285                                       Washington, DC
3530                                        La Grange, IL
4066                                       Chuo-ku, Osaka
2506                                          Alpharetta,
5093                                           Dublin, OH
2127                                       Israel, Afula
96                                     Neubiberg, München
1202                                  San Dimas, CA 91773
5637                                   New York, NY 10036
5694                                     Washington, D.C.
Name: company_location_city, dtype: object

In [157]:
# Removing states or regions from the 'company_location_city' column by keeping only the part before the comma
companies_names['company_location_city'] = companies_names['company_location_city'].str.split(',').str[0].str.strip()

In [158]:
#checking results
companies_names.head()

,company_id,company_name,company_size,company_location_city,company_location_country,company_location_state
0,1009,IBM,7.0,Armonk,United States,New York
1,1016,GE HealthCare,7.0,Chicago,United States,Unknown
2,1021,GE Power,7.0,Schenectady,United States,New York
3,1025,Hewlett Packard Enterprise,7.0,Houston,United States,Texas
4,1028,Oracle,7.0,Austin,United States,Texas

In [159]:
# exporting dataframe to csv.
companies_names.to_csv(os.path.join(path, 'DATA','CLEAN DATA', 'company_name.csv'))

### creating the data profile

In [162]:

# Creating a data profile for the dataset
data_profile2 = {
    'Variables': companies_names.columns,
    'Data Types': companies_names.dtypes,
    'Description': ['' for _ in range(companies_names.shape[1])],  
    'Time-variant/-invariant': ['' for _ in range(companies_names.shape[1])],
    'Structured/Unstructured': ['Structured' if dtype != 'object' else '' for dtype in companies_names.dtypes],
    'Qualitative/Quantitative': ['Quantitative' if dtype in ['int64', 'float64'] else 'Qualitative' for dtype in companies_names.dtypes],
    'Qualitative: Nominal/Ordinal': ['Nominal' if dtype == 'object' else '' for dtype in companies_names.dtypes],
    'Quantitative: Discrete/Continuous': ['Discrete' if dtype == 'int64' else 'Continuous' if dtype == 'float64' else '' for dtype in companies_names.dtypes]
}

# Converting the data profile to a DataFrame for display
data_profile2 = pd.DataFrame(data_profile2)

# Displaying the data profile (optional in your Jupyter Notebook)
print(data_profile2)

                                         Variables Data Types Description  \
company_id                              company_id      int64
company_name                          company_name     object
company_size                          company_size    float64
company_location_city        company_location_city     object
company_location_country  company_location_country     object
company_location_state      company_location_state     object

                         Time-variant/-invariant Structured/Unstructured  \
company_id                                                    Structured
company_name
company_size                                                  Structured
company_location_city
company_location_country
company_location_state

                         Qualitative/Quantitative  \
company_id                           Quantitative
company_name                          Qualitative
company_size                         Quantitative
company_location_city                 Qualitative
company_location_country              Qualitative
company_location_state                Qualitative

                         Qualitative: Nominal/Ordinal  \
company_id
company_name                                  Nominal
company_size
company_location_city                         Nominal
company_location_country                      Nominal
company_location_state                        Nominal

                         Quantitative: Discrete/Continuous
company_id                                        Discrete
company_name
company_size                                    Continuous
company_location_city
company_location_country
company_location_state

In [163]:
# exporting dataframe to csv.
data_profile2.to_csv(os.path.join(path, 'DATA','Data profile', 'data_profile_companies_names.csv'))

## Importing the 4th dataframe (job_skills)

In [165]:
job_skills = pd.read_csv(r'/Users/pierremora/Desktop/LinkedIn Job Postings 2023/DATA/RAW DATA/job_skills.csv', index_col = False)

### Descriptive analysis

In [166]:
job_skills.describe()

             job_id
count  2.789900e+04
mean   3.692216e+09
std    9.702447e+07
min    8.500877e+07
25%    3.693072e+09
50%    3.697358e+09
75%    3.699413e+09
max    3.701374e+09

In [167]:
job_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27899 entries, 0 to 27898
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_id     27899 non-null  int64
 1   skill_abr  27899 non-null  object
dtypes: int64(1), object(1)
memory usage: 436.1+ KB

In [168]:
# checking job_skills data types
job_skills.dtypes

job_id        int64
skill_abr    object
dtype: object

In [169]:
#checking head dataframe
job_skills.head()

       job_id skill_abr
0  3690843087      ACCT
1  3690843087       FIN
2  3691763971      MGMT
3  3691763971      MNFC
4  3691775263      MGMT

### Checking missing values

In [170]:
# Checking for missing values and their respective percentages
missing_values5 = job_skills.isnull().sum()
missing_percentage5 = (missing_values5 / len(job_skills)) * 100

missing_data5 = pd.DataFrame({
    'Missing Values': missing_values5,
    'Percentage (%)': missing_percentage5
})

print(missing_data5)

           Missing Values  Percentage (%)
job_id                  0             0.0
skill_abr               0             0.0

There are no missing values in the "job_skills.csv" dataset. Both the job_id and skill_abr columns have complete data.

### Checking for Duplicates or fully duplicates

In [171]:
# Checking for duplicate rows
duplicates5 = job_skills.duplicated().sum()

# Check for duplicate job_id values (to see if there are jobs with multiple skills)
duplicate_job_ids5 = job_skills.duplicated(subset=['job_id']).sum()

print(f"Number of fully duplicated rows: {duplicates5}")
print(f"Number of duplicated job_id values: {duplicate_job_ids5}")

Number of fully duplicated rows: 0
Number of duplicated job_id values: 12262

There are 0 fully duplicated rows in the dataset. This means there are no two rows that are identical in both job_id and skill_abr.

There are 12,262 duplicated job_id values. This indicates that there are jobs associated with multiple skills (which is expected in a job skills dataset).

### data consistency

In [172]:
# Inspecting  unique values of the 'job_id' column
unique_job_ids5 = job_skills['job_id'].unique()
sample_job_ids5 = unique_job_ids5[:20]  # Displaying first 20 for brevity
print("Sample of unique job_ids:")
print(sample_job_ids5)
print("\n")

# Inspecting unique values of the 'skill_abr' column
unique_skill_abr5 = job_skills['skill_abr'].unique()
sample_skill_abr5 = unique_skill_abr5[:20]  # Displaying first 20 for brevity
print("Sample of unique skill abbreviations:")
print(sample_skill_abr5)

Sample of unique job_ids:
[3690843087 3691763971 3691775263 3691786992 3691789797 3691789919
 3691792844 3691793575 3691794313 3691795305 3691795389 3691795980
 3691796226 3691797249 3691797924 3691797973 3691797979 3691797980
 3691797982 3691798875]


Sample of unique skill abbreviations:
['ACCT' 'FIN' 'MGMT' 'MNFC' 'HCPR' 'ENG' 'IT' 'ADM' 'SALE' 'DSGN' 'ART'
 'EDU' 'TRNG' 'BD' 'PRJM' 'CNSL' 'STRA' 'OTHR' 'RSCH' 'GENB']

### dataset is clean and consistent

In [173]:
#exporting dataframe to csv.

job_skills.to_csv(os.path.join(path, 'DATA','CLEAN DATA', 'job_skills_clean.csv'))

### creating data profile

In [175]:

# List to store the data profile information
data_profile_list5 = []

# Loop through each column to gather the data profile details
for col in job_skills.columns:
    dtype = job_skills[col].dtype
    structured = 'Structured' if dtype != 'object' else 'Unstructured'
    qual_quant = 'Quantitative' if dtype in ['int64', 'float64'] else 'Qualitative'
    nom_ord = 'Nominal' if dtype == 'object' else ''
    disc_cont = 'Discrete' if dtype == 'int64' else 'Continuous' if dtype == 'float64' else ''
    
    data_profile_list5.append([col, dtype, '', '', structured, qual_quant, nom_ord, disc_cont])

# Converting the list to a DataFrame
columns = ['Variables', 'Data Types', 'Description', 'Time-variant/-invariant', 'Structured/Unstructured', 'Qualitative/Quantitative', 'Qualitative: Nominal/Ordinal', 'Quantitative: Discrete/Continuous']
data_profile_skills_df = pd.DataFrame(data_profile_list5, columns=columns)

# Display the data profile (optional in your Jupyter Notebook)
print(data_profile_skills_df)

   Variables Data Types Description Time-variant/-invariant  \
0     job_id      int64
1  skill_abr     object

  Structured/Unstructured Qualitative/Quantitative  \
0              Structured             Quantitative
1            Unstructured              Qualitative

  Qualitative: Nominal/Ordinal Quantitative: Discrete/Continuous
0                                                       Discrete
1                      Nominal

In [177]:
#exporting dataframe to csv.

data_profile_skills_df.to_csv(os.path.join(path, 'DATA','Data profile', 'job_skills_data_profile.csv'))